{%- if MARTTIPHPBB_WEBPUSHNOTIFICATIONS_AUTH and not S_USER_LOGGED_IN and not S_IS_BOT -%}  
    {%- INCLUDEJS '@marttiphpbb_webpush/js/quicklogin.js' -%}
    <span class="hidden" id="marttiphpbb_webpush" data-auth-method="{{- MARTTIPHPBB_WEBPUSHNOTIFICATIONS_AUTH -}}">
        {%- if MARTTIPHPBB_WEBPUSHNOTIFICATIONS_AUTH == 'db_email' -%}    
            {{- lang('MARTTIPHPBB_WEBPUSHNOTIFICATIONS_EMAIL') -}}
        {%- else -%}
            {{- lang('MARTTIPHPBB_WEBPUSHNOTIFICATIONS_USERNAME_OR_EMAIL') -}}
        {%- endif -%}
        {{- lang('COLON') -}}
    </span>
{%- endif -%}